@page "/"
@using NavigusWebApp.Client.Data
@using NavigusWebApi.Models

<NavMenu/>

<PageTitle>Home</PageTitle>

@if(!CredsData.IsLogin)
{
    <div class="alert alert-info">
            <div class="mb-4">Please Either Login or Signup into website</div>
        <a class="btn btn-primary" href="/login">Login</a>
        <a class="btn btn-warning" href="/signup">Signup</a>
    </div>
}
else
{
    <CardRow>
        @if (CredsData.Role == Roles.Student)
            {
                <BootCard Link="Courses" Title="All Courses">
                    Get list of all courses on the server.
                </BootCard>
                
                <BootCard Link="Enrolled" Title="All Enrolled">
                    Get list of all corses you enrolled  in the server.
                </BootCard>
            }
        else if (CredsData.Role == Roles.Teacher)
                    {
                        <BootCard Link="Courses" Title="All Courses">
                            Get list of all courses on the server.
                        </BootCard>
                    }
    </CardRow>
    
}

@code
{
    protected override void OnInitialized()
    {
        
    }
}

<style>
    html,body{
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

    }
</style>