@page "/"
@using NavigusWebApp.Client.Data
@using NavigusWebApp.Shared.Models

<NavMenu/>

<PageTitle>Home</PageTitle>

@if(!CredsData.IsLogin)
{
    <div class="alert alert-dark bg-dark text-white m-4">
            <div class="mb-4">Please Either Login or Signup into website</div>
        <a class="btn btn-primary m-2" href="/login">Login</a>
        <a class="btn btn-success m-2" href="/signup">Signup</a>
    </div>
}
else
{
    <CardRow>
        @if (CredsData.Role == Roles.Student)
            {
                <BootCard Link="Courses" Title="All Courses">
                    Get list of all courses on the server.
                </BootCard>
                
                <BootCard Link="Enrolled" Title="All Enrolled">
                    Get list of all corses you enrolled  in the server.
                </BootCard>
            }
        else if (CredsData.Role == Roles.Teacher)
                    {
                        <BootCard Link="Courses" Title="All Courses">
                            Get list of all courses on the server.
                        </BootCard>
                    }
    </CardRow>
    
}

@code
{
    protected override void OnInitialized()
    {
        
    }
}

<style>
    html,body{
        background-color: #8EC5FC;
        background-image: radial-gradient( circle farthest-corner at 32.7% 82.7%,  rgba(173,0,171,1) 8.3%, rgba(15,51,92,1) 79.4% );
        height:100vh;
    }
</style>